*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: white;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../PERSONAL-PORTFOLIO/images/vivid-blurred-colorful-background.jpg);
    background-size: cover;
    background-position: center;
}
